.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 3px; /* Adjust the height of the progress bar */
  background-color: #007bff; /* Adjust the background color of the progress bar */
  transform-origin: left center;
}
